
<div class="container center align">
    <h4 class="logo"><i class="fab fa-github"></i> GitHub {{github}} </h4>
<h4 class="logo"><i class="fas fa-code"></i></i> Hackerrank {{hackerrank}}</h4>
<h4 class="logo"><i class="fas fa-code"></i> Hackerearth {{hackerearth}}</h4>
{{!-- <h4 class="logo"><i class="fas fa-code"></i> Codeforce {{codeforce}}</h4> --}}
<h4 class="logo"><i class="fas fa-code"></i> Topcoder {{topcoder}}</h4>
<h4 class="logo"><i class="fas fa-code"></i> Codechef {{codechef}}</h4>
<a href="/" class="btn btn-success btn-large"> Try Another</a>
</div>