
<div class="container center align">
    <div class="">GitHub {{github}}</div>
<div class="">Hackerrank {{hackerrank}}</div>
<div class="">Hackerearth {{hackerearth}}</div>
<div class="">Codeforce {{codeforce}}</div>
<div class="">Topcoder {{topcoder}}</div>
<div class="">Codechef {{codechef}}</div>
</div>