
<div class="container center align">
    <h3 class="logo"><i class="fab fa-github"></i> GitHub {{github}} </h3>
<h3 class="logo"><i class="fas fa-code"></i></i> Hackerrank {{hackerrank}}</h3>
<h3 class="logo"><i class="fas fa-code"></i> Hackerearth {{hackerearth}}</h3>
<h3 class="logo"><i class="fas fa-code"></i> Codeforce {{codeforce}}</h3>
<h3 class="logo"><i class="fas fa-code"></i> Topcoder {{topcoder}}</h3>
<h3 class="logo"><i class="fas fa-code"></i> Codechef {{codechef}}</h3>
<a href="/" class="btn btn-success btn-large"> Try Another</a>
</div>